<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Punchlist</title>
    <link rel="stylesheet" href="css/mvp.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li>Home</li>
        </ul>
    </nav>
    <hr>
</header>
<main>
    <h1>Punch Lists</h1>
    <section>
        <h3>Bitte Formular für die Reserviation ausfüllen:</h3>
        <form th:object="${punch}" th:action="@{/punchList}" method="post">
            <label for="categorie">Für wieviel Gäste möchten Sie reservien:</label><br>
            <select id="categorie" th:field="*{category}">
                <option value="start">Start</option>
                <option value="zieleinlauf">Zieleinlauf</option>
                <option value="festwirtschaft">Festwirtschaft</option>
                <option value="sanitaet">Sanitaet</option>
            </select><br>
            <label for="description">Beschreibung:</label><br>
            <input type="text" id="description" th:field="*{description}" cols="40" rows="5"></input><br>
            <label for="date">Fälligkeit</label>
            <input id="date" type="date" th:field="*{date}" size="20"><br>
            <button type="submit">Absenden</button>
        </form>
    </section>
</main>
<footer>
    <hr>
    <label>Punch Liste:</label>
    <table>
        <tr>
            <th>Kategorie</th>
            <th>Beschreibung</th>
            <th>Fälligkeit</th>
        </tr>
        <tr th:each="punch : ${punchList}">
            <td th:text="${punch.category}"></td>
            <td th:text="${punch.description}"></td>
            <td th:text="${punch.date}"></td>
        </tr>
    </table>
    <hr>
</footer>
</body>
</html>
